h1{
    color: red;
    font-size: x-large;
}
.text-style{
    background-color: blueviolet;
    align-content: center;
}
#channel-logo > img{
    float: left;
    padding-top: 40px;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: rgba(44, 44, 44, 0.797);
}

.timg{
    border-radius: 15px;
}

.timg:hover{
    border-radius: 0;
}